* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primitive-white: #ECFDF5;
    --clr-primitive-dark: #1F2937;
    --clr-primitive-green: #10B981;
    --clr-primitive-gray: #6B7280;
    --clr-bodyBg: var(--clr-primitive-dark);
    --clr-sectionBg: var(--clr-primitive-white);
    --clr-heading: var(--clr-primitive-dark);
    --clr-text: var(--clr-primitive-gray);
    --clr-btn: var(--clr-primitive-green);
    --clr-divider: var(--clr-primitive-gray);
    --clr-passwordBg: var(--clr-primitive-dark);
    --clr-accent: var(--clr-primitive-green);
    --ff-inter: 'Inter', sans-serif;
    --fs-heading: clamp(1.5rem, 1.82vi + 1.14rem, 2.5rem);
    --fs-text: clamp(1.2rem, 1.23vi + 0.95rem, 1.88rem);
}

body {
    font-family: var(--ff-inter);
    font-size: var(--fs-text);
    line-height: 1.5;
    background: var(--clr-bodyBg);
    color: var(--clr-text);
}

section {
    max-width: 75rem;
    padding: 1em;
    background: var(--clr-sectionBg)
}

h1 {
    font-size: var(--fs-heading);
    line-height: 1.1;
    text-wrap: balance;
    margin-block-end: 1rem;
    color: var(--clr-heading);
}

.input-wrapper {
    margin-block: 1rem;
}

label {
    font-size: 14px;
    margin-inline-end: 8px;
}

input[type='range'] {
    display: block;
    accent-color: var(--clr-primitive-green);
}

input[type='checkbox'] {
 accent-color: var(--clr-primitive-green);
 color: #ECFDF5;
}

button {
    background: var(--clr-primitive-green);
    color: var(--clr-primitive-white);
    padding: .75em 1.2em;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    border: transparent;
    border-radius: 0.38rem;
}

hr {
    margin-block: 1rem;
}

.passwords-wrapper {
    padding: 1.2em;
    background: var(--clr-passwordBg);
    margin-block-end: 1rem;
    border-radius: 0.38rem;
}